<div class="heading "><h1 style="text-align:center">Oraange application </h1></div>

<!-- <div class="col-md-4"></div>
<div class="flex-container">

<div class="row">
<div class="column" style="background-color:#aaa;">
<div class = " row m1 ">
  <div class="col-md-1"></div>
  
 <div class="flex-child magenta">

  <div class="col-md-2">
 -->



<div class='row no-gutters'>
  <div class="col-md-6 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center ">
      <%= link_to image_tag('admin-settings-male.png'), new_admin_session_path  %>
    <%#= image_tag "admin-settings-male.png"%><br>
    <%= link_to 'Admin Login', new_admin_session_path ,class: " ls"%>
  </div>
</div>

<!--   </div>
</div>
</div>
</div>

 <div class="column" style="background-color:#bbb;">
<div class=" row m1 ">
  <div class="col-md-1"></div>
    

  <div class="col-md-2"> -->

    

<div class="col-md-6 no-gutters">
    <div class="rightside d-flex justify-content-center align-items-center">
    <%= link_to image_tag("user.png"), new_user_session_path %><br>
    <%= link_to 'Employee Login', new_user_session_path,class: " ls"%>
</div>
</div>
</div>





<!--       </div>
</div>

</div>
</div>
</div> -->